
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Sales System</span>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>

         <span style="flex: 1 1 auto ;"></span>
        <label style="font-size: 0.9rem;">{{userName}} |
            {{userRol}}</label>

          <button mat-icon-button (click)="logOutUser()">
            <mat-icon>logout</mat-icon>
        </button>

    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">

        <mat-nav-list>

            <mat-list-item *ngFor="let menu of menuList"
                [routerLink]="menu.urlPath">
                <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
                <div mat-line>{{menu.name}}</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <!-- This is where the content goes = each and every component page is added -->
    <mat-sidenav-content>
        <div class="children">
            <router-outlet></router-outlet>
        </div>

        <div class="footer">
            <footer class="text-secondary">© Copyright by <strong>Hellen Torres</strong>
                <p>All right reserved</p>
            </footer>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>

<!-- adding all our menus TESTING-->
<!--   <mat-list-item routerLink="/pages/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div mat-line>DashBoard</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/user">
                <mat-icon matListItemIcon>group</mat-icon>
                <div mat-line>Users</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/product">
                <mat-icon matListItemIcon>collections_bookmark</mat-icon>
                <div mat-line>Products</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/sale">
                <mat-icon matListItemIcon>currency_exchange</mat-icon>
                <div mat-line>Sale</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/sale_history">
                <mat-icon matListItemIcon>edit_note</mat-icon>
                <div mat-line>Sales history</div>
            </mat-list-item> -->