
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Sales System</span>

        <button mat-icon-button (click)="sidenav.toggle();">
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>

    <mat-sidenav #sidenav opened="true" mode="side" style="width: 200px;">

        <mat-nav-list>
            <!-- adding all our menus -->
            <mat-list-item routerLink="/pages/dashboard">
                <mat-icon matListItemIcon>dashboard</mat-icon>
                <div mat-line>DashBoard</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/user">
                <mat-icon matListItemIcon>group</mat-icon>
                <div mat-line>Users</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/product">
                <mat-icon matListItemIcon>collections_bookmark</mat-icon>
                <div mat-line>Products</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/sale">
                <mat-icon matListItemIcon>currency_exchange</mat-icon>
                <div mat-line>Sale</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/sale_history">
                <mat-icon matListItemIcon>edit_note</mat-icon>
                <div mat-line>Sales history</div>
            </mat-list-item>

            <mat-list-item routerLink="/pages/report">
                <mat-icon matListItemIcon>receipt</mat-icon>
                <div mat-line>Reports</div>
            </mat-list-item>

        </mat-nav-list>
    </mat-sidenav>

    <!-- This is where the content goes = each and every component page is added -->
    <mat-sidenav-content>
        <div
            style="height: 91vh; background-color: hsl(240, 38%, 29%); color: #fff; padding: 8px;">
            <h1>System</h1>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>
