<h2 mat-dialog-title>{{actionName}} User</h2>

<mat-dialog-content class="container minW" style="text-align: center;">
    <form [formGroup]="userForm">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Full name</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="fullName">
            <mat-icon matSuffix>account_box</mat-icon>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input type="text" matInput autocomplete="off" formControlName="email">
            <mat-icon matSuffix>mail</mat-icon>
        </mat-form-field>

        <mat-form-field class="custom-input" appearance="outline">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="idRol">
                <mat-option *ngFor="let item of rolList" [value]="item.idRol">{{item.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">

            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                <mat-icon maSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <span *ngIf="userForm.get('password').touched && userForm.get('password').invalid"
            class="alert alert-danger">
            Password is required...</span>

        <mat-form-field class="custom-input" appearance="outline">
            <mat-label for="active">Status</mat-label>
            <mat-select id="active" formControlName="active">
                <mat-option value="1">Active</mat-option>
                <mat-option value="0">Inactive</mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</mat-dialog-content>


<!--Modal structure: title, content, button[cancel, accept, Save and Edit]-->
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Back</button>
    <button mat-raised-button color="primary" [disabled]="userForm.invalid"
        (click)="createOrUpdate_User()">{{actionButton}}</button>
</mat-dialog-actions>